#pfp {
    width: 128px;
    height: 128px;
    transition: box-shadow 0.3s ease, border 0.3s ease;
    border-radius: 10%;
}

#steampfp {
    width: 128px;
    height: 128px;
    transition: box-shadow 0.3s ease, border 0.3s ease;
    border-radius: 10%;
}

#pfp2 {
    width: 128px;
    height: 128px;
    border-radius: 10%;
}

#username {
    font-size: 28px;
    font-weight: bold;
}

.username {
    font-size: 28px;
    font-weight: bold;
}

.graytxt {
    opacity: 0.7;
}