@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;400&family=Roboto:wght@100;300;400;500;700&display=swap");

/* CONTROLS */
.drpdwnbtn {
  background-color: transparent;
  backdrop-filter: blur(1000px);
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin: 1%;
}

.tabbuttonclicked {
  backdrop-filter: blur(30px);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 12px;
  width: 12%;
}

.button {
  background-color: transparent;
  backdrop-filter: blur(1000px);
  transition: transform 0.3s ease;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin: 1%;
}

.tabbutton {
  backdrop-filter: blur(30px);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 12px;
  width: 12%;
  cursor: pointer;
}

.buttonalt {
  transition: transform 0.3s ease;
  backdrop-filter: blur(1000px);
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin: 1%;
}

.buttonalt2 {
  transition: transform 0.3s ease;
  background-color: transparent;
  border: none;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin: 1%;
}

.tabbuttonclicked {
  z-index: 9999;
}

#settingsclose {
  width: 300px !important;
}

@media (max-width: 575px) {
  #tabs button {
    width: 18%;
  }
}

/* @font-face { 
  font-family: 'Minecraft';
  src: url('/assets/minecraft.woff') format('woff');
  }
   */
#pfp {
  width: 128px;
  height: 128px;
  transition: box-shadow 0.3s ease, border 0.3s ease;
  border-radius: 10%;
}


#steampfp {
  width: 128px;
  height: 128px;
  transition: box-shadow 0.3s ease, border 0.3s ease;
  border-radius: 10%;
}

.topcard {
  /* box-shadow: 0 8px 32px 0 rgba(0, 120, 215, 0.1); */
  backdrop-filter: blur(30px);
  border-radius: 10px;
  padding: 12px;
  width: 55%;
}



@media (min-width: 2559px) and (min-height: 1439px) {
    .card, .mainCardsContainer, .topcard {
        width: 70% !important;
        height: 70% !important;
    }

    a, h1, h2, h3, h4, h5, h6, p, body, .cardTitle {
        font-size: 125% !important;
    }

    li, button, #back, .back {
        font-size: 100% !important;
    }

    #pfp, .Profile-pic, #activityImageBig, .activityImages {
        width: 256px !important;
        height: 256px !important;
    }

    #activityImageSmall {
        width: 80px !important;
        height: 80px !important;
    }

    #mainCard, #stuffTab {
        width: 100% !important;
    }

}

.bookbtn {
  width: 160px;
  height: auto;
  display: flex;
  flex-direction: column;
}

#bookbtnicon {
  margin-bottom: 10px !important;
  margin: auto;
}

.bookname {
  font-family: Minecraft;
  font-size: 20px !important;
}

.bookname a {
  text-decoration: none !important;
}

#files {
  max-height: 320px;
  overflow-y: auto;
  display: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.mainCardsContainer {
  border-radius: 10px;
  border: none;
  padding: 0px;
  width: 50%;
  background: none;
}

.container2 {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: none;
  padding: 0px;
  width: 50%;
  background: none;
}

.lastUpdated {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  color:rgba(255,255,255,0.1);
}

codeblock {
  font-family: Consolas,monaco,monospace; 
  border-radius: 10px;
}

.about-me {
  margin-left: 2%;
}



.bg {
  backdrop-filter: blur(7px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  gap: 10px;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  background-repeat: repeat-x;
  animation: panorama 60s linear infinite;
}

a {
    text-decoration: none;
}

.loadingScreen .loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* hide on mobile devices or devices with a small screen. */
@media (max-width: 1200px) {
  .connection-icon2 {
    display: none;
  }
}

@media (max-width: 1000px) {

  .card, .mainCardsContainer, .topcard {
    width: 98% !important;
  }

  #mainCard, #stuffTab {
    width: 100% !important;
  }

  .heading {
    font-size: 30px;
  }
}

.hidden {
    display: none;
  }

@media (min-width: 1001px) and (max-width: 1200px) {
  .card, .mainCardsContainer, .topcard {
    width: 75% !important;
  }
  #mainCard, #stuffTab {
    width: 100% !important;
  }

  .heading {
    font-size: 26px;
  }
}

.LCEFolder {
  margin-bottom: 10px;
}

.details {
  display: block;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.expandcard.active .details {
  max-height: 1000px;
}

.expandcard {
  border-radius: 20px;
  cursor: pointer;
}

@media (max-width: 1100px) {
  #mainCard {
    background-image: none;
  }
}

@media (max-width: 900px) {
  .readingcard {
    width: 90% !important;
  }
}

@media (max-height: 665px) {
  #aboutCard {
    display: none;
  }
}

@media (max-height: 450px) {
  #activityCard {
    display: none;
  }
}

#pfp2 {
  width: 128px;
  height: 128px;
  border-radius: 10%;
}

.center {
  margin-top: auto;
  text-align: center; 
}


.button2 {
  backdrop-filter: blur(1000px);
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin: 1%;
  transition: transform 0.3s ease;
}

.cardTitle {
  font-size: 12px;
  font-weight: thin;
  margin-bottom: 16px;
  font-family: monospace;
  opacity: 0.5;
}

#userLevels {
  max-height: 300px; 
  width: 100%;
  overflow-y: auto; 
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.back {
  transition: opacity 0.2s ease;
  font-size: 12px;
  font-weight: thin;
  font-family: monospace;
  opacity: 0.5;
}

.user-profile {
  display: flex;
  gap: 1em;
}

.Profile-pic {
  position: relative;
}

#onlineState,
#customStatus {
  opacity: 0.5;
  transition: all 0.6s ease;
}


.bottomright {
  position: fixed;
  opacity: 0.5;
  right: 0px;
  bottom: 0px;
  text-decoration: none;
  border: none;
  width: 325px;
  height: 28px;
  padding: 5px;
  cursor: pointer;
}

.loadingText {
  animation: 1s ease-out 0s 1 fadeIn;
}

.loadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s;
  }

#loading {
  text-align: center;
  width: 128px;
  display: block;
  margin: 0 auto;
  height: 128px;
  border-radius: 10%;
  transition: opacity 0.5s;
}

.mastodon {
  position: absolute;
  left: -9999px;
  top: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.subcard {
  border-radius: 10px;
  padding: 12px;
  width: 100%;
}

#stuffTab {
  overflow: scroll;
  overflow-x: hidden;
}

.card {
  /* Another example of Apple's WebShit engine being fucky, if I use -webkit-backdrop-filter, the background of anything that uses it will freeze (as in the background won't move behind it) until the screen is updated (e.g scolled or tapped)
  "Oh no what will I do" you might ask... we're just NOT GOING TO USE IT */
  backdrop-filter: blur(30px);
  border-radius: 10px;
  padding: 12px;
  width: 50%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  /* color: #fff; */
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}


.loadingScreen {
  background-size: cover;
  background-repeat: no-repeat;
}

#mainCard {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
}

.username {
  font-size: 28px;
  font-weight: bold;
}

.graytxt {
  opacity: 0.7;
}

#activityAlternateImageSmall {
  width: 128px;
  height: 128px;
  border-radius: 10%;
}

#activityName {
  font-size: 25px;
  font-weight: bold;
  margin-left: 15px;
}

#activityState {
  font-size: 20px;
  opacity: 0.7;
  margin-left: 15px;
}

#activityDetail {
  opacity: 0.5;
  margin-left: 15px;
}

#activityTimeElapsed {
  opacity: 0.7;
  margin-left: 15px;
}

/* \ Activity / */

.heading {
  font-size: 20px;
  font-weight: bold;
}

ul,
li {
  padding: 0%;
  margin: 0;
  list-style: none;
}

.connections {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  margin-top: 5px;
}

.connection-icon {
  height: 30px;
  width: auto;
  transition: transform 0.3s ease;
}

.connection-icon2 {
  height: 30px;
  width: auto;
  transition: transform 0.3s ease;
}

.project-icon {
  height: 28px;
  width: auto;
}

.project {
  height: 28px;
  width: auto;
}


.topright {
  position: fixed;
  right: 0px;
  top: 0px;
  width: 100px;
  height: 5%;
  padding: 5px;
}

::-webkit-scrollbar {
  width: 5px;
}

.activities {
  display: flex;
  gap: 8px;
  width: 100%;
}

.activityInfo {
  width: 100%;
}

.activityImages {
  position: relative;
}

#activityImageBig {
  width: 128px;
  height: 128px;
  border-radius: 10%;
}

#activityImageSmall {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: -20%;
  right: 0px;
  transform: translate(50%, -50%);
}

@keyframes panorama {
  0% {
    background-position: 0;
  }

  100% {
    background-position: calc(100vh / 144 * -820);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
