@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;400&family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
  --loading-screen-bg: url('/bgdark.webp');
  --prim-bg-color: rgba(0, 0, 0, 0.6);
  --alt-bg-color: rgba(50, 50, 50, 0.6);
  --prim-control-color: rgba(0, 0, 0, 0.5);
  --prim-border-color: rgba(100, 100, 100, 0.2);
  --prim-img-border-color: rgba(15, 15, 15, 0.3);
  --prim-moreopaque-border-color: rgba(100, 100, 100, 0.5);
  --prim-control-border-color: rgba(150, 150, 150, 0.2);
  --prim-other-bg-color: rgba(0, 0, 0, 0.2);
  --prim-reading-bg-color: rgba(15, 15, 15, 1);
  --prim-color: rgba(0, 0, 0, 1);
  --prim-hover-color: rgba(0, 120, 215, 0.3);
  --prim-subborder-color: rgba(255, 255, 255, 0.212);
  --prim-shadow-color: rgba(0, 0, 0, 0.6);
  --alt-border-size: 4px;
  --prim-border-size: 2px;
  --prim-text-color: white;
  --href-color: #109fff;
  --href-hover-color: #0b6cac;
}

body, button {
  font-family: "Roboto", sans-serif;
}

.blogPostPreview {
  text-align: center;
  background-color: var(--prim-control-color);
  border-radius: 10px;
  border: var(--prim-border-size) solid var(--prim-border-color);
}

.blogTitlePreview {
  text-align: center;
}

.postTitle {
  text-align: center;
  background-color: var(--prim-control-color);
  border-radius: 10px;
  border: var(--prim-border-size) solid var(--prim-border-color);
}

/* CONTROLS */
.drpdwnbtn {
  background-color: transparent;
  backdrop-filter: blur(1000px);
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin: 1%;
}


.imgcontainer {
  border: solid 1px var(--prim-color);
  border-radius: 10%;
}

body {
  background: var(--loading-screen-bg);
  background-size: cover;
  background-attachment: fixed;
}

.imgcontaineralt {
  border: solid 1px var(--prim-color);
  border-radius: 10%;
  background-color: var(--prim-other-bg-color);
}

.expandcard {
  border: var(--prim-border-size) solid var(--prim-border-color);
  box-shadow: 0 0 10px 5px var(--prim-control-color);
  background-color: var(--alt-bg-color);
  color: var(--prim-text-color);
}

#pfp {
  background: var(--prim-other-bg-color);
}

.bookbtn {
  background: var(--prim-control-color);
  border-radius: 10px;
  border: none;
  width: 160px;
  height: 160px;
}

.bookname:hover {
  color: var(--prim-text-color) !important;
}

.bookname {
  color: var(--prim-text-color);
}

.loadingScreen {
  background: var(--loading-screen-bg);
  background-color: var(--prim-color);
}

body {
  background-color: var(--prim-color);
  color: var(--prim-text-color);
}

.readingcard {
  background: var(--prim-reading-bg-color) !important;
}

.drpdwnbtn {
  border: var(--prim-border-size) solid var(--prim-control-border-color);
  color: var(--prim-text-color);
}

.drpdwnbtn option {
  color: initial;
}

.a {
  color: var(--prim-text-color);
}

.loadingScreen .loading #lightLSpinner {
  display: block;
  animation: 1s ease-out 0s 1 fadeIn;
}

.loadingScreen .loading #darkLSpinner {
  display: none;
}

#normalmode {
  background-image: url("https://raw.githubusercontent.com/DexrnZacAttack/DexrnZacAttack.github.io/main/assets/webbanner.png");
  /* background-color: rgb(12, 12, 12); */
}

.button {
  border: var(--prim-border-size) solid var(--prim-control-border-color);
  color: var(--prim-text-color);
}

.mainCardsContainer {
  color: var(--prim-text-color);
}

.container2 {
  color: var(--prim-text-color);
}

.tabbutton {
  border: var(--prim-border-size) solid var(--prim-control-border-color);
  background: var(--alt-bg-color);
  color: var(--prim-text-color);
}

.tabbuttonclicked {
  border: var(--prim-border-size) solid var(--prim-border-color);
  background: var(--prim-bg-color);
  color: var(--prim-text-color);
}

.buttonalt {
  border: var(--prim-border-size) solid var(--prim-control-border-color);
  color: var(--prim-text-color);
  background: var(--prim-control-color);
}

.buttonalt2 {
  color: var(--prim-text-color);
}

#savebtn {
  border: var(--prim-border-size) solid var(--prim-control-border-color);
  color: var(--prim-text-color);
}

/* Button pseudo classes */

.button:hover {
  box-shadow: 0 0 32px 0 var(--prim-hover-color);
  transform: scale(1.1);
}

.button2:hover {
  box-shadow: 0 0 32px 0 var(--prim-hover-color);
  transform: scale(1.1);
}

.buttonalt:hover {
  box-shadow: 0 0 32px 0 var(--prim-hover-color);
  color: var(--prim-text-color);
  transform: scale(1.1);
}

.buttonalt2:hover {
  box-shadow: 0 0 32px 0 var(--prim-hover-color);
  color: var(--prim-text-color);
}

.connection-icon:hover {
  transform: scale(1.2);
}

.connection-icon2:hover {
  transform: scale(1.2);
}

.back:hover {
  opacity: 1;
}

.button:active {
  box-shadow: 0 0 32px 0 var(--prim-hover-color);
  transform: scale(0.8);
}

.buttonalt:active {
  box-shadow: 0 0 32px 0 var(--prim-hover-color);
  transform: scale(0.8);
}

.buttonalt2:active {
  box-shadow: 0 0 32px 0 var(--prim-hover-color);
  transform: scale(0.8);
}

.button2:active {
  box-shadow: 0 0 32px 0 var(--prim-hover-color);
  transform: scale(0.5);
}

.connection-icon:active {
  transform: scale(0.8);
}

.connection-icon2:active {
  transform: scale(0.8);
}

.topcard {
  border: var(--prim-border-size) solid var(--prim-border-color);
  background: var(--prim-bg-color);
  box-shadow: 0 0 10px 5px var(--prim-shadow-color);
  color: var(--prim-text-color);
}

@keyframes panorama {
  0% {
    background-position: 0;
  }

  100% {
    background-position: calc(100vh / 144 * -820);
  }
}

codeblock {
  color: var(--prim-text-color);
  background-color: var(--prim-reading-bg-color);
}

.msgbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 560px;
  max-height: 360px;
  margin: auto;
  padding: 20px;
  text-align: center;
  -webkit-box-shadow: 0 0 10px 5px var(--prim-control-color);
     -moz-box-shadow: 0 0 10px 5px var(--prim-control-color);
          box-shadow: 0 0 10px 5px var(--prim-control-color);
  -webkit-animation: 1s ease-in-out 0s 1 fadeIn;
     -moz-animation: 1s ease-in-out 0s 1 fadeIn;
       -o-animation: 1s ease-in-out 0s 1 fadeIn;
          animation: 1s ease-in-out 0s 1 fadeIn;
  background-color: var(--prim-control-color);
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* this looks kinda cool, might change or remove later tho. */
#normalmode {
  box-shadow: 0 0 10px 5px var(--prim-bg-color);
}

#files {
  background-color: var(--prim-other-bg-color);
  backdrop-filter: blur(10px);
  border: var(--alt-border-size) solid var(--prim-moreopaque-border-color);
  border-radius: 10px;
}

.LCEFolder {
  background-color: var(--prim-other-bg-color);
  backdrop-filter: blur(10px);
  border: var(--alt-border-size) solid var(--prim-moreopaque-border-color);
  border-radius: 10px;
}

.hidden {
  display: none;
}

.card {
  border: var(--prim-border-size) solid var(--prim-border-color);
  background: var(--prim-bg-color);
  box-shadow: 0 0 10px 5px var(--prim-shadow-color);
  color: var(--prim-text-color);
}

.subcard {
  border: var(--prim-border-size) solid var(--prim-subborder-color);
}

.button2 {
  border: var(--prim-border-size) solid var(--prim-control-border-color);
  background-color: transparent;
}

#activityImageSmall {
  border: 2px solid var(--prim-img-border-color); /* ALWAYS USE 2PX */
}

.bottomright {
  color: var(--prim-text-color)fff;
}

a {
  color: var(--href-color);
  text-decoration: underline;
}

a:hover {
  color: var(--href-hover-color);
}

/* Track */
::-webkit-scrollbar-track {
  background: #222222;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5c5c5c;
  border-radius: 100vh;
  margin-block: 10em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #363636;
}


.tabbuttonclicked {
  border-bottom: none;
  backdrop-filter: blur(30px);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 12px;
  width: 12%;
}

.button {
  background-color: transparent;
  backdrop-filter: blur(1000px);
  transition: transform 0.3s ease;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin: 1%;
}

.tabbutton {
  border-bottom: none;
  backdrop-filter: blur(30px);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 12px;
  width: 12%;
  cursor: pointer;
}

.buttonalt {
  transition: transform 0.3s ease;
  backdrop-filter: blur(1000px);
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin: 1%;
}

.buttonalt2 {
  transition: transform 0.3s ease;
  background-color: transparent;
  border: none;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin: 1%;
}

.tabbuttonclicked {
  z-index: 9999;
}

#settingsclose {
  width: 300px !important;
}

@media (max-width: 575px) {
  #tabs button {
    width: 18%;
  }
}

/* @font-face { 
  font-family: 'Minecraft';
  src: url('/assets/minecraft.woff') format('woff');
  }
   */
#pfp {
  width: 128px;
  height: 128px;
  transition: box-shadow 0.3s ease, border 0.3s ease;
  border-radius: 10%;
}


#steampfp {
  width: 128px;
  height: 128px;
  transition: box-shadow 0.3s ease, border 0.3s ease;
  border-radius: 10%;
}

.topcard {
  backdrop-filter: blur(30px);
  border-radius: 10px;
  padding: 12px;
  width: 50%;
}



@media (min-width: 2559px) and (min-height: 1439px) {
    .card, .mainCardsContainer, .topcard {
        width: 70% !important;
        height: 70% !important;
    }

    a, h1, h2, h3, h4, h5, h6, p, body, .cardTitle {
        font-size: 125% !important;
    }

    li, button, #back, .back {
        font-size: 100% !important;
    }

    #pfp, .Profile-pic, #activityImageBig, .activityImages {
        width: 256px !important;
        height: 256px !important;
    }

    #activityImageSmall {
        width: 80px !important;
        height: 80px !important;
    }

    #mainCard, #stuffTab {
        width: 100% !important;
    }

}

.bookbtn {
  width: 160px;
  height: auto;
  display: flex;
  flex-direction: column;
}

#bookbtnicon {
  margin-bottom: 10px !important;
  margin: auto;
}

.bookname {
  font-family: Minecraft;
  font-size: 20px !important;
}

.bookname a {
  text-decoration: none !important;
}

#files {
  max-height: 320px;
  overflow-y: auto;
  display: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.mainCardsContainer {
  border-radius: 10px;
  border: none;
  padding: 0px;
  width: 50%;
  background: none;
}

.container2 {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: none;
  padding: 0px;
  width: 50%;
  background: none;
}

.lastUpdated {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  color:rgba(255,255,255,0.1);
}

codeblock {
  font-family: Consolas,monaco,monospace; 
  border-radius: 10px;
}

.about-me {
  margin-left: 2%;
}



.bg {
  backdrop-filter: blur(7px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  gap: 10px;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  background-repeat: repeat-x;
  animation: panorama 60s linear infinite;
}

a {
    text-decoration: none;
}

.loadingScreen .loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* hide on mobile devices or devices with a small screen. */
@media (max-width: 1200px) {
  .connection-icon2 {
    display: none;
  }
}

@media (max-width: 1000px) {

  .card, .mainCardsContainer, .topcard {
    width: 98% !important;
  }

  #mainCard, #stuffTab {
    width: 100% !important;
  }

  .heading {
    font-size: 30px;
  }
}

.hidden {
    display: none;
  }

@media (min-width: 1001px) and (max-width: 1200px) {
  .card, .mainCardsContainer, .topcard {
    width: 75% !important;
  }
  #mainCard, #stuffTab {
    width: 100% !important;
  }

  .heading {
    font-size: 26px;
  }
}

.LCEFolder {
  margin-bottom: 10px;
}

.details {
  display: block;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.expandcard.active .details {
  max-height: 1000px;
}

.expandcard {
  border-radius: 20px;
  cursor: pointer;
}

@media (max-width: 1100px) {
  #mainCard {
    background-image: none;
  }
}

@media (max-width: 900px) {
  .readingcard {
    width: 90% !important;
  }
}

@media (max-height: 665px) {
  #aboutCard {
    display: none;
  }
}

@media (max-height: 450px) {
  #activityCard {
    display: none;
  }
}

#pfp2 {
  width: 128px;
  height: 128px;
  border-radius: 10%;
}

.center {
  margin-top: auto;
  text-align: center; 
}


.button2 {
  backdrop-filter: blur(1000px);
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin: 1%;
  transition: transform 0.3s ease;
}

.cardTitle {
  font-size: 12px;
  font-weight: thin;
  margin-bottom: 16px;
  font-family: monospace;
  opacity: 0.5;
}

#userLevels {
  max-height: 300px; 
  width: 100%;
  overflow-y: auto; 
  background-color: var(--prim-other-bg-color);
  border-radius: 10px;
}

.back {
  transition: opacity 0.2s ease;
  font-size: 12px;
  font-weight: thin;
  font-family: monospace;
  opacity: 0.5;
}

.user-profile {
  display: flex;
  gap: 1em;
}

.Profile-pic {
  position: relative;
}

#onlineState,
#customStatus {
  opacity: 0.5;
  transition: all 0.6s ease;
}


.bottomright {
  position: fixed;
  opacity: 0.5;
  right: 0px;
  bottom: 0px;
  text-decoration: none;
  border: none;
  width: 325px;
  height: 28px;
  padding: 5px;
  cursor: pointer;
}

.loadingText {
  animation: 1s ease-out 0s 1 fadeIn;
}

.loadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s;
  }

#loading {
  text-align: center;
  width: 128px;
  display: block;
  margin: 0 auto;
  height: 128px;
  border-radius: 10%;
  transition: opacity 0.5s;
}

.mastodon {
  position: absolute;
  left: -9999px;
  top: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.subcard {
  border-radius: 10px;
  padding: 12px;
  width: 100%;
}

#stuffTab {
  overflow: scroll;
  overflow-x: hidden;
}

.card {
  /* Another example of Apple's WebShit engine being fucky, if I use -webkit-backdrop-filter, the background of anything that uses it will freeze (as in the background won't move behind it) until the screen is updated (e.g scolled or tapped)
  "Oh no what will I do" you might ask... we're just NOT GOING TO USE IT */
  backdrop-filter: blur(30px);
  border-radius: 10px;
  padding: 12px;
  width: 50%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  /* color: var(--prim-text-color); */
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}


.loadingScreen {
  background-size: cover;
  background-repeat: no-repeat;
}

#mainCard {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
}

.username {
  font-size: 28px;
  font-weight: bold;
}

.graytxt {
  opacity: 0.7;
}

#activityAlternateImageSmall {
  width: 128px;
  height: 128px;
  border-radius: 10%;
}

#activityName {
  font-size: 25px;
  font-weight: bold;
  margin-left: 15px;
}

#activityState {
  font-size: 20px;
  opacity: 0.7;
  margin-left: 15px;
}

#activityDetail {
  opacity: 0.5;
  margin-left: 15px;
}

#activityTimeElapsed {
  opacity: 0.7;
  margin-left: 15px;
}

/* \ Activity / */

.heading {
  font-size: 20px;
  font-weight: bold;
}

ul,
li {
  padding: 0%;
  margin: 0;
  list-style: none;
}

.connections {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  margin-top: 5px;
}

.connection-icon {
  height: 30px;
  width: auto;
  transition: transform 0.3s ease;
}

.connection-icon2 {
  height: 30px;
  width: auto;
  transition: transform 0.3s ease;
}

.project-icon {
  height: 28px;
  width: auto;
}

.project {
  height: 28px;
  width: auto;
}


.topright {
  position: fixed;
  right: 0px;
  top: 0px;
  width: 100px;
  height: 5%;
  padding: 5px;
}

::-webkit-scrollbar {
  width: 5px;
}

.activities {
  display: flex;
  gap: 8px;
  width: 100%;
}

.activityInfo {
  width: 100%;
}

.activityImages {
  position: relative;
}

#activityImageBig {
  width: 128px;
  height: 128px;
  border-radius: 10%;
}

#activityImageSmall {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: -20%;
  right: 0px;
  transform: translate(50%, -50%);
}

@keyframes panorama {
  0% {
    background-position: 0;
  }

  100% {
    background-position: calc(100vh / 144 * -820);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
