@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;400&family=Roboto:wght@100;300;400;500;700&display=swap");

body {
  background: url('/assets/bglight.webp');
  background-size: cover;
  background-attachment: fixed;
}

.loadingScreen {
  background: rgba(255, 255, 255, 1);
  background: url('/assets/bglight.webp');
}

body {
  background-color: white;
  color: black;
}

.readingcard {
    background: rgba(229, 229, 229, 1) !important;
    color: rgba(31, 31, 31, 1) !important;
}

.imgcontainer {
  border: solid 1px rgba(255, 255, 255, 1);
  border-radius: 10%;
}

.imgcontaineralt {
  border: solid 1px rgba(255, 255, 255, 1);
  border-radius: 10%;
  background-color: rgba(235, 235, 235, 1);
}

.topcard {
  border: 2px solid rgba(200, 200, 200, 0.2);
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 10px 5px rgba(100, 100, 100, 0.3);
  color: #000;
}

.drpdwnbtn {
  border: 1px solid rgba(200, 200, 200, 0.2);
  color: black;
}

.drpdwnbtn option {
  color: black;
}

a {
    color: #014c7e;
    text-decoration: underline !important;
}

a:hover {
    color: #00385e;
}

.loadingScreen .loading #lightLSpinner {
  display: none;
}

.loadingScreen .loading #darkLSpinner {
  display: block;
  animation: 1s ease-out 0s 1 fadeIn;
}

#normalmode {
  background-image: url("https://raw.githubusercontent.com/DexrnZacAttack/DexrnZacAttack.github.io/main/assets/webbanner-dark.png");
}

.mainCardsContainer {
  color: #fff;
}

.container2 {
  color: #fff;
}

.tabbutton {
  border: 2px solid rgba(200, 200, 200, 0.2);
  background: rgba(200, 200, 200, 0.3);
  color: #000;
}

.tabbuttonclicked {
  border: 2px solid rgba(200, 200, 200, 0.1);
  background: rgba(255, 255, 255, 0.3);
  color: #000;
}


.button {
  border: 2px solid rgba(200, 200, 200, 0.2);
  background-color: rgba(255, 255, 255, 0.3);
}

#savebtn {
  border: 2px solid rgba(200, 200, 200, 0.2);
  color: white;
}

.buttonalt {
  border: 2px solid rgba(200, 200, 200, 0.2);
  color: black;
  background: rgba(255, 255, 255, 0.5);
}

.buttonalt2 {
  color: black;
  background-color: rgba(255, 255, 255, 0.3);
}

/* Button pseudo classes */

.button:hover {
  box-shadow: 0 0 32px 0 rgba(0, 120, 215, 0.3);
  transform: scale(1.1);
}

.button2:hover {
  box-shadow: 0 0 32px 0 rgba(0, 120, 215, 0.3);
  transform: scale(1.1);
}

.buttonalt:hover {
  box-shadow: 0 0 32px 0 rgba(0, 120, 215, 0.3);
  color: #fff;
  transform: scale(1.1);
}

.buttonalt2:hover {
  box-shadow: 0 0 32px 0 rgba(0, 120, 215, 0.3);
  color: #fff;
}

.connection-icon:hover {
  transform: scale(1.2);
}

.connection-icon2:hover {
  transform: scale(1.2);
}

.back:hover {
  opacity: 1;
}

.button:active {
  box-shadow: 0 0 32px 0 rgba(0, 120, 215, 0.3);
  transform: scale(0.8);
}

.buttonalt:active {
  box-shadow: 0 0 32px 0 rgba(0, 120, 215, 0.3);
  transform: scale(0.8);
}

.buttonalt2:active {
  box-shadow: 0 0 32px 0 rgba(0, 120, 215, 0.3);
  transform: scale(0.8);
}

.button2:active {
  box-shadow: 0 0 32px 0 rgba(0, 120, 215, 0.3);
  transform: scale(0.5);
}

.connection-icon:active {
  transform: scale(0.8);
}

.connection-icon2:active {
  transform: scale(0.8);
}

.drpdwnbtn {
  background-color: rgba(255, 255, 255, 0.3);
  color: black;
}

.topcard {
  border: 1px solid rgba(255, 255, 255, 0.212);
}

@keyframes panorama {
  0% {
    background-position: 0;
  }

  100% {
    background-position: calc(100vh / 144 * -820);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* this looks kinda cool, might change or remove later tho. */
#normalmode {
  box-shadow: 0 0 10px 5px rgba(100, 100, 100, 0.3) !important;
}

.card {
  border: 2px solid rgba(200, 200, 200, 0.2);
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 10px 5px rgba(100, 100, 100, 0.3);
  color: #000;
}

.expandcard {
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}

.subcard {
  border: 1px solid rgba(255, 255, 255, 0.212);
}


.button2 {
  border: 2px solid rgba(200, 200, 200, 0.2);
  background-color: transparent;
}


#activityImageSmall {
  border: 2px solid rgba(15, 15, 15, 0.3);
}




.connection-icon {
  filter: invert(100%);
}

.connection-icon2 {
  filter: invert(100%);
}


.bottomright {
  color: #ffffff;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222222;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5c5c5c;
  border-radius: 100vh;
  margin-block: 10em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #363636;
}
