@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;400&family=Roboto:wght@100;300;400;500;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* hide on mobile devices or devices with a small screen. */
@media (max-width: 1200px) {
  .connection-icon2 {
    display: none;
  }
}

@media (max-width: 900px) {
  .readingcard {
    width: 90% !important;
  }
}

@media (max-width: 1100px) {
  #normalmode {
    background-image: none;
  }
}

@media (max-height: 665px) {
  #normalmode2 {
    display: none;
  }
}

@media (max-height: 450px) {
  #normalmode1 {
    display: none;
  }
}

.loadingcontainer {
  background: rgba(255, 255, 255, 1);
}

body {
  background-color: white;
  color: black;
}

.card {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(0, 120, 215, 0.2);
  color: #000;
}

.readingcard {
    background: rgba(229, 229, 229, 1);
    color: rgba(31, 31, 31, 1);
}

.topcard {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(0, 120, 215, 0.2);
  color: #000;
}

.drpdwnbtn {
  color: black;
}

.drpdwnbtn option {
  color: black;
}

a {
    color: #014c7e;
    text-decoration: underline !important;
}

a:hover {
    color: #00385e;
}

.loadingcontainer .loading #loading-light {
  display: none;
}

.loadingcontainer .loading #loading-dark {
  display: block;
  animation: 1s ease-out 0s 1 fadeIn;
}

#normalmode {
  background-image: url("https://raw.githubusercontent.com/DexrnZacAttack/DexrnZacAttack.github.io/main/assets/webbanner-dark.png");
  /* background-color: rgb(225, 225, 225); */
}

.loadingcontainer .loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.bg {
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  background-repeat: repeat-x;
  animation: panorama 60s linear infinite;
  opacity: 0;
}

.about-me {
  margin-left: 2%;
}

.button {
  background-color: rgba(255, 255, 255, 0.3);
  transition: transform 0.3s ease;
  backdrop-filter: blur(1000px);
  -webkit-backdrop-filter: blur(1000px);
  border: none;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin: 1%;
}

.buttonalt {
  backdrop-filter: blur(1000px);
  -webkit-backdrop-filter: blur(1000px);
  transition: transform 0.3s ease;
  border: none;
  padding: 12px 20px;
  color: black;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin: 1%;
}

.buttonalt2 {
  color: black;
  transition: transform 0.3s ease;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(1000px);
  -webkit-backdrop-filter: blur(1000px);
  border: none;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin: 1%;
}

/* Button pseudo classes */

.button:hover {
  box-shadow: 0 0 32px 0 rgba(0, 120, 215, 0.3);
  transform: scale(1.1);
}

.button2:hover {
  box-shadow: 0 0 32px 0 rgba(0, 120, 215, 0.3);
  transform: scale(1.1);
}

.buttonalt:hover {
  box-shadow: 0 0 32px 0 rgba(0, 120, 215, 0.3);
  color: #fff;
  transform: scale(1.1);
}

.buttonalt2:hover {
  box-shadow: 0 0 32px 0 rgba(0, 120, 215, 0.3);
  color: #fff;
}

.connection-icon:hover {
  transform: scale(1.2);
}

.connection-icon2:hover {
  transform: scale(1.2);
}

.back:hover {
  opacity: 1;
}

.button:active {
  box-shadow: 0 0 32px 0 rgba(0, 120, 215, 0.3);
  transform: scale(0.8);
}

.buttonalt:active {
  box-shadow: 0 0 32px 0 rgba(0, 120, 215, 0.3);
  transform: scale(0.8);
}

.buttonalt2:active {
  box-shadow: 0 0 32px 0 rgba(0, 120, 215, 0.3);
  transform: scale(0.8);
}

.button2:active {
  box-shadow: 0 0 32px 0 rgba(0, 120, 215, 0.3);
  transform: scale(0.5);
}

.connection-icon:active {
  transform: scale(0.8);
}

.connection-icon2:active {
  transform: scale(0.8);
}

.drpdwnbtn {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(1000px);
  -webkit-backdrop-filter: blur(1000px);
  border: none;
  color: black;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin: 1%;
}

.loadingcontainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s;
}

.topcard {
  /* box-shadow: 0 8px 32px 0 rgba(0, 120, 215, 0.1); */
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.212);
  padding: 12px;
  width: 55%;
  animation: 1s ease-out 0s 1 fadeIn;
}

@keyframes panorama {
  0% {
    background-position: 0;
  }

  100% {
    background-position: calc(100vh / 144 * -820);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* this looks kinda cool, might change or remove later tho. */
#normalmode {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  /* color: #fff; */
  height: 100%;
  width: 100%;
}

.hidden {
  display: none;
}

.card {
  /* box-shadow: 0 8px 32px 0 rgba(0, 120, 215, 0.1); */
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.212);
  padding: 12px;
  width: 50%;
  animation: 1s ease-out 0s 1 fadeIn;
}

.mastodon {
  position: absolute;
  left: -9999px;
  top: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.subcard {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.212);
  padding: 12px;
  width: 100%;
}

.center {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
}

.button2 {
  transition: transform 0.3s ease;
  background-color: transparent;
  backdrop-filter: blur(1000px);
  -webkit-backdrop-filter: blur(1000px);
  border: none;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin: 1%;
}

.card-title {
  font-size: 12px;
  font-weight: thin;
  margin-bottom: 16px;
  font-family: monospace;
  opacity: 0.5;
}

.back {
  transition: opacity 0.2s ease;
  font-size: 12px;
  font-weight: thin;
  font-family: monospace;
  opacity: 0.5;
}

/* / Profile \ */

.user-profile {
  display: flex;
  gap: 1em;
}

.Profile-pic {
  position: relative;
}

#pfp {
  width: 128px;
  height: 128px;
  transition: box-shadow 0.3s ease, border 0.3s ease;
  border-radius: 10%;
}

.loadingtextzh {
  animation: 1s ease-out 0s 1 fadeIn;
}

.loadingtextzhhid {
  animation: 1s ease-out 0s 1 fadeIn;
}

.loadingtext {
  animation: 1s ease-out 0s 1 fadeIn;
}

#loading {
  text-align: center;
  width: 128px;
  display: block;
  margin: 0 auto;
  height: 128px;
  border-radius: 10%;
  transition: opacity 0.5s;
}

#pfp2 {
  width: 128px;
  height: 128px;
  border-radius: 10%;
}

#status-dot {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  top: 0px;
  right: 0px;
  transform: translate(50%, -50%);
  border: 2px solid rgba(15, 15, 15, 0.3);
}

#username {
  font-size: 28px;
  font-weight: bold;
}

#status2,
#status {
  opacity: 0.5;
  transition: all 0.6s ease;
}

/* \ Profile / */

/* / Activity \ */

.activity-wrapper {
  display: flex;
  gap: 8px;
  width: 100%;
}

.activity-info {
  width: 100%;
}

.activity-images {
  position: relative;
}

#activity-big-image {
  width: 128px;
  height: 128px;
  border-radius: 10%;
}

#activity-small-image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: -20%;
  right: 0px;
  transform: translate(50%, -50%);
  border: 2px solid rgba(15, 15, 15, 0.3);
}

#activity-small-image-alt {
  width: 128px;
  height: 128px;
  border-radius: 10%;
}

#activity-name {
  font-size: 25px;
  font-weight: bold;
  margin-left: 15px;
}

#activity-state {
  font-size: 20px;
  opacity: 0.7;
  margin-left: 15px;
}

#activity-detail {
  opacity: 0.5;
  margin-left: 15px;
}

#activity-elapsed {
  opacity: 0.7;
  margin-left: 15px;
}

/* .showmore {
    opacity: 0.5;
    margin-top: 10px;
    cursor: pointer;
    font-size: small;
}

.showmore:hover {
    opacity: 0.6;
    margin-top: 10px;
    cursor: pointer;
    font-size: small;
} */

/* \ Activity / */

.heading {
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 820px) {
  .card {
    width: 98%;
  }

  .heading {
    font-size: 30px;
  }
}

ul,
li {
  padding: 0%;
  margin: 0;
  list-style: none;
}

.connections {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  margin-top: 5px;
}

.connection-icon {
  height: 30px;
  width: auto;
}

.connection-icon2 {
  height: 30px;
  width: auto;
}

.project-icon {
  height: 28px;
  width: auto;
}

.project {
  height: 28px;
  width: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  gap: 10px;
}

.bottomright {
  position: fixed;
  opacity: 0.5;
  right: 0px;
  bottom: 0px;
  color: #ffffff;
  text-decoration: none;
  border: none;
  width: 325px;
  height: 28px;
  padding: 5px;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.topright {
  position: fixed;
  right: 0px;
  top: 0px;
  width: 100px;
  height: 5%;
  padding: 5px;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222222;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5c5c5c;
  border-radius: 100vh;
  margin-block: 10em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #363636;
}
