body {
        cursor: url(cursors/cursor.gif) 9 10, auto;
	position: relative;
	min-width: 100%;
	min-height: 100%;
	font-family: 'SegoeUI', sans-serif;
	background-image: url('main/bg.png');
	background-size: cover;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
	background-repeat: repeat-x;
	animation: panorama 60s linear infinite;
}

/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(portal.gif) center no-repeat #fff;
}

.twitterembed {
    color: #fff;
    float: right;
}

video::-webkit-media-controls {
  display:none !important;
}

#background-video {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

/* fonts */
@font-face {
    font-family: 'Segoe UI';
    src: url(main/SegoeUI.ttf);
}
  
h2, h1, p, li, title {.
    font-family: 'Segoe UI';
    color: white;
}

@keyframes panorama {
	0% {
		background-position: 0;
	}
	
	100% {
		background-position: calc(100vh / 144 * -820);
	}




}
